<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Currency converter</title>
</head>
<body>

<div class="container" id="currency-converter">

    <h3 class="my-5">Currency converter</h3>

	<?php
	if (count($rates))
	{
		?>

        <form>

            <div class="form-group">
                <label for="convert-sum">Exchange amount</label>
                <input type="text" name="convert_sum" class="form-control listen-change" id="convert-sum" data-mask="money" value="100">
            </div>

            <div class="form-group">
                <label for="convert-buy">Give away</label>
                <select name="convert_buy" class="form-control listen-change" id="convert-buy">
					<?php foreach ($rates as $rate) : ?>
                        <option data-rate="<?= $rate['rate'] ?>" value="<?= $rate['cc'] ?>"<?= ($rate['cc'] === 'USD' ? ' selected' : '') ?>><?= $rate['cc'] ?></option>
					<?php endforeach; ?>
                </select>
            </div>

            <div class="form-group">
                <label for="convert-sell">I get</label>
                <select name="convert_sell" class="form-control listen-change" id="convert-sell">
					<?php foreach ($rates as $rate) : ?>
                        <option data-rate="<?= $rate['rate'] ?>" value="<?= $rate['cc'] ?>"<?= ($rate['cc'] === 'UAH' ? ' selected' : '') ?>><?= $rate['cc'] ?></option>
					<?php endforeach; ?>
                </select>
            </div>

            <div class="form-group mt-5">
                <label for="convert-result">Result</label>
                <input type="text" class="form-control" id="convert-result" disabled>
            </div>

        </form>

		<?php
	}
	else
	{
		?>
        <div class="alert alert-danger" role="alert">
            Rates don`t loaded!
        </div>
		<?php
	}
	?>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript">

    $(document).ready(function () {

        function convert() {

            var sum = $('#convert-sum').val(),
                convert_buy = $('#convert-buy'),
                convert_sell = $('#convert-sell'),
                buy = convert_buy.val(),
                sell = convert_sell.val(),
                buy_rate = convert_buy.find(':selected').data('rate'),
                sell_rate = convert_sell.find(':selected').data('rate');

            $('#convert-result').val((sum * buy_rate / sell_rate).toFixed(2));

        }

        $('.listen-change').on('keyup change', function () {
            convert();
        });

        $('#convert-buy').on('change', function () {

            var convert_sell = $('#convert-sell'),
                val = $(this).val();
            convert_sell.find(':disabled').prop('disabled', false);
            convert_sell.find('option[value="' + val + '"]').prop('disabled', true);
            convert_sell.find(':selected:disabled').prop("selected", false);

            convert_sell.change();

        }).change();

    });
</script>


</body>
</html>
